In [1]:
import pandas as pd
import re
%matplotlib inline
pd.options.display.max_rows = 10

In [2]:
#import data
df_race = pd.read_csv('acs_14_race.csv')
df_educ_b = pd.read_csv('acs_14_educational_attainment_black.csv')
df_educ_w = pd.read_csv('acs_14_educational_attainment_white.csv')
df_educ = pd.read_csv('acs_14_educational_attainment.csv')
df_income = pd.read_csv('acs_14_income.csv')
df_socio = pd.read_csv('Census_Data_-_Selected_socioeconomic_indicators_in_Chicago__2008___2012.csv')
df_community_tract = pd.read_csv('community_tracts.csv')
df_crimes = pd.read_csv('chicago_crimes_2014.csv')

In [23]:
df_crime_count = df_crimes.groupby(['Community Area','ID'].count())
df_crime_count

TypeError: count() takes exactly one argument (0 given)

In [4]:
#Extract number before the decimal in the tract id & add the needed zeros
def only_1st_number(i):
    if (len(re.findall(r'.(\d+)', i)[0])) == 4:
        return re.findall(r'.(\d+)', i)[0]
    elif (len(re.findall(r'.(\d+)', i)[0])) == 3:
        return "0" + re.findall(r'.(\d+)', i)[0]

#Extract number after the decimal in the tract id & add the needed zeros
def only_2nd_number(i):
    if '.' in i:
        return i.split('.')[1][0:2]
    elif '.' not in i:
        return "00"

#Join both parts of the tract id & replace the Census Tract string with it
def only_numbers(i):
    return "17031" + only_1st_number(i) + only_2nd_number(i)    

df_race['Census Tract'] = df_race['Census Tract'].apply(only_numbers)

In [6]:
#community_tract['tract_id'] = df_community_tract['tract_id'].astype(str)
#community_tract
df_community_tract

        tract_id   community_id
0    17031842400             44
1    17031840300             59
2    17031841100             34
3    17031841200             31
4    17031838200             28
..           ...            ...
796  17031071000              7
797  17031071200              7
798  17031130300             13
799  17031292200             29
800  17031630900             63

[801 rows x 2 columns]

In [7]:
df_socio

,Community Area Number,COMMUNITY AREA NAME,PERCENT OF HOUSING CROWDED,PERCENT HOUSEHOLDS BELOW POVERTY,PERCENT AGED 16+ UNEMPLOYED,PERCENT AGED 25+ WITHOUT HIGH SCHOOL DIPLOMA,PERCENT AGED UNDER 18 OR OVER 64,PER CAPITA INCOME,HARDSHIP INDEX
0,1,Rogers Park,7.7,23.6,8.7,18.2,27.5,23939,39
1,2,West Ridge,7.8,17.2,8.8,20.8,38.5,23040,46
2,3,Uptown,3.8,24.0,8.9,11.8,22.2,35787,20
3,4,Lincoln Square,3.4,10.9,8.2,13.4,25.5,37524,17
4,5,North Center,0.3,7.5,5.2,4.5,26.2,57123,6
...,...,...,...,...,...,...,...,...,...
73,74,Mount Greenwood,1.0,3.4,8.7,4.3,36.8,34381,16
74,75,Morgan Park,0.8,13.2,15.0,10.8,40.3,27149,30
75,76,O'Hare,3.6,15.4,7.1,10.9,30.3,25828,24
76,77,Edgewater,4.1,18.2,9.2,9.7,23.8,33385,19
77,NaN,CHICAGO,4.7,19.7,12.9,19.5,33.5,28202,NaN

In [24]:
#df_race_socio_crimes = df_crime_count.merge(df_community_tract, left_on='Community Area ', right_on='community_id', how = 'outer')


#.merge(df_socio, left_on='community_id',right_on='Community Area Number', how = 'outer').merge(df_race, left_on='tract_id', right_on='Census Tract', how = 'outer')
    
    
    
'''race_ses = race_ses.dropna()
race_ses
df_community_tract'''

'race_ses = race_ses.dropna()\nrace_ses\ndf_community_tract'